@page "/osi-account-application-docs/{OsiAccountApplicationId:int}"

@using Models.Db
@using Models.Responses
@using Radzen
@inject IOsiAccountApplicationSvc osiAccountApplicationSvc
@inject IScanSvc scanSvc
@inject Radzen.DialogService dialogService
@inject NotificationService NotificationService
@inject IBlazorDownloadFileService BlazorDownloadFileService
@attribute [Authorize]

<PageTitle Value="Сканированные документы" />

<SpinLoader IsLoading="IsLoading" Spinner="SpinnerType.Chase">
    <LoadingTemplate>
        <div class="col-sm-12" style="vertical-align: middle">
            <br /><br />
            <Chase Center="true" />
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <h3>Сканированные документы</h3>
        <RadzenGrid @ref="grid" AllowPaging="true" PageSize="10"
                    Data="@docs" TItem="OsiAccountApplicationDocExtended" AllowColumnResize="true">
            <Columns>
                <RadzenGridColumn TItem="OsiAccountApplicationDocExtended" Property="@nameof(OsiAccountApplicationDocExtended.Id)" Title="ID" Width="100px" />
                <RadzenGridColumn TItem="OsiAccountApplicationDocExtended" Title="Документ">
                    <Template Context="data">
                        @data.DocType.NameRu
                        @if (!string.IsNullOrEmpty(data.ImageSource))
                        {
                            <br />
                            <img src=@data.ImageSource alt=@("<Документ: " + data.DocType.NameRu + ">") Style="max-width:150px; max-height:150px" />
                        }
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="OsiAccountApplicationDocExtended" Title="Служебная информация" Width="350px">
                    <Template Context="data">
                        @($"Код: {data.DocTypeCode}, ScanId: {data.ScanId}")
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn Title="Действия" TItem="OsiAccountApplicationDocExtended" TextAlign="TextAlign.Center" Width="250px">
                    <Template Context="data">
                        @*<Button Color="Color.Link" Clicked="@(async (e) => await DownloadFile(data))">Скачать</Button>*@
                        @*<Button Color="Color.Link" Clicked="@(e => DeleteRegistrationDoc(data.Id))">Удалить</Button>*@
                        <a href="" @onclick="@(async (e) => await DownloadFile(data))" @onclick:preventDefault>Скачать</a>
                        &nbsp;|&nbsp;
                        <a href="" @onclick="@(async (e) => await DeleteRegistrationDoc(data.Id))" @onclick:preventDefault>Удалить</a>
                        @if (data.IsDownloading)
                        {
                            <RadzenProgressBar Value="data.DownloadProgress" />
                        }
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </ContentTemplate>
</SpinLoader>

@code {
    public class OsiAccountApplicationDocExtended : OsiAccountApplicationDoc
    {
        public string Base64Data { get; set; }
        public string ImageSource { get; set; }
        public bool IsDownloading { get; set; }
        public double DownloadProgress { get; set; } = 0.0;
    }

    [Parameter]
    public int OsiAccountApplicationId { get; set; }

    private IList<OsiAccountApplicationDocExtended> docs;
    private RadzenGrid<OsiAccountApplicationDocExtended> grid;
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        IsLoading = true;
        await Task.Delay(100);
        //docs = (IList<RegistrationDocExtended>)((await registrationService.GetRegistrationDocs(RegistrationId)).ToList());
        var regdocs = await osiAccountApplicationSvc.GetOsiAccountApplicationDocs(OsiAccountApplicationId);
        docs = regdocs.Select(doc => new OsiAccountApplicationDocExtended
            {
                DocType = doc.DocType,
                DocTypeCode = doc.DocTypeCode,
                Scan = doc.Scan,
                ScanId = doc.ScanId,
                Id = doc.Id,
                OsiAccountApplication = doc.OsiAccountApplication,
                OsiAccountApplicationId = doc.OsiAccountApplicationId,
            }).ToList();

        foreach (var doc in docs)
        {
            var (base64, mimeType) = await scanSvc.GetScanData(doc.Scan);
            doc.Base64Data = base64;
            doc.ImageSource = !string.IsNullOrEmpty(mimeType) ? $"data:{mimeType};base64,{base64}" : null;
        }

        IsLoading = false;
        StateHasChanged();
    }

    async Task DeleteRegistrationDoc(int id)
    {
        if (await dialogService.Confirm("Хотите удалить документ?", "Внимание", new ConfirmOptions() { OkButtonText = "Да", CancelButtonText = "Нет" }) == true)
        {
            try
            {
                await osiAccountApplicationSvc.DeleteDoc(OsiAccountApplicationId, id);
                var old = docs.FirstOrDefault(u => u.Id == id);
                if (old != null)
                {
                    var index = docs.IndexOf(old);
                    docs.RemoveAt(index);
                }
                await grid.Reload();
                StateHasChanged();
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Warning, Detail = "Документ удален", Duration = 3000 });
            }
            catch (Exception ex)
            {
                ShowDebug(ex.Message, "Ошибка");
            }
        }
    }

    void ShowDebug(string message, string title = null, int width = 0, int height = 0)
    {
        dialogService.Open<Debug>(title == null ? "Сообщение" : title, new Dictionary<string, object>
            {
                ["data"] = message
            }, new DialogOptions() { Width = width == 0 ? "950px" : width.ToString() + "px", Height = height == 0 ? "auto" : height.ToString() + "px" });
    }

    async Task DownloadFile(OsiAccountApplicationDocExtended doc)
    {
        if (!string.IsNullOrEmpty(doc.Base64Data))
        {
            doc.IsDownloading = true;
            await BlazorDownloadFileService.DownloadFile(doc.Scan.FileName, doc.Base64Data, bufferSize: 1 * 1024 * 1024 /* 1 Mb */, "application/octet-stream",
                progress =>
                {
                    doc.DownloadProgress = Math.Round(progress * 100);
                    StateHasChanged();
                    return Task.CompletedTask;
                });

            doc.IsDownloading = false;
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Detail = "Файл не найден", Duration = 3000 });
        }
    }
}
